.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-next {
  width: 2em;
  height: 1em;
  fill: initial;
}
.icon-playlist {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-playpause {
  width: 2.11em;
  height: 1em;
  fill: initial;
}
.icon-prev {
  width: 2em;
  height: 1em;
  fill: initial;
}
